* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 40px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

.restaurant-card {
    width: 240px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 1px solid #e0e0e0;
}

.restaurant-card:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    translate: 0 -2px;
    transition: all 0.3s ease;
}

.card-items {
    font-weight: 500;
    margin-top: 8px;
}

.restaurant-image {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container {
    margin-top: 20px;
    margin-left: 100px;
}

#search-input {
    width: 260px;
    height: 30px;
}

.search-button {
    height: 30px;
    padding: 0px 10px;
    margin-left: 10px;
}