* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 40px;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}